html , body { 
    background-image: url(background.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
/* Contenitore pricipale */
.container{
    margin: 0 auto;
    height: 550px;
    width: 800px;
    background-color: rgba(0, 0, 0, 0.5);
    top: 20px;
    border-radius: 20px 20px 20px 20px; 
    position: relative;
}
/* Contenitore secondario */
.container2 {
    margin: 0 auto;
    height: 550px;
    width:700px;
    padding-top: 55px;
}
/* Dimensione logo */
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
/* testata */
.header{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #00dd00;
    text-align: center;
    height: 16px;
}
/* menu di navigazione */
.nav {
    background: #00dd00;
    text-align: center;
    padding: 7px;
    }
.nav div {
    display: inline-block;
    }
    .nav div button{
        font-size: 9px;
        padding: 1px 2px
    }
/* sezione */
.article{
    padding-top: 7px;
}
/* sezione monopattino */
.details{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: white;
}
/* sezione via */
.details2{
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    color: white;
}
/* ed. della freccia */
.arrow{
    color: white;
}
.arrow:after{
    content: "\21A6";
}
/* livello carica */
.carica {
    width:35%;
    background-color: #f5b453;
}
.carica2{
    width:60%;
    background-color: #1ec31e;
}
.carica3{
    width:15%;
    background-color: #be4141;
}
/* ed. barra carica */
.carica , .carica2 , .carica3{
    height:20px;
    border-radius: 5px 5px 5px 5px; 
}
